<h2>All Tweets</h2>

<ul>
  <% @all_tweets.each do |tweet| %>
    <li><%= link_to tweet.user.email, 'javascript:void(0)' %></li>
    <p><%= tweet.title %></p>
    <p><%= tweet.description %></p>
  <% end %>
</ul>
